.select {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 150px;
  height: 30px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  /* flex-direction: column; */
  /* position: relative; */
}
#cicek > .options {
  display: none;
}
#cicek:focus > .options {
  display: block;
  padding: 0;
  position: absolute;
  top: 20px;
  /* left: 133px; */
}
#bocek > .options {
  display: none;
}
#bocek:focus > .options {
  display: block;
  padding: 0;
  position: absolute;
  top: 20px;
  /* right: 133px; */
}
ul {
  list-style-type: none;
}
ul > li {
  width: 150px;
  height: 35px;
  border: 1px solid grey;
  cursor: pointer;
}
ul > li:hover {
  background-color: sandybrown;
}
